{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="container">
            <h2 class="page-header">What is this?</h2>

            <div class="row">
                <div class="span8 offset4">
                    <p><strong>People's Network?</strong> aims to ...</p>
                </div>
            </div>

            <h2 class="page-header">How can I get in touch?</h2>

            <div class="row">
                <div class="span8 offset4">
                    <p>To contact us via email write to info@css.org. For more contact options see the <a href="http://www.css.org/contact/">contact page</a> on the website.</p>
                </div>
            </div>

            <h2 class="page-header"><a name="supported-by"></a> Where did it come from?</h2>

            <div class="row">
                <div class="span8 offset4">
                    <p><strong>People Network?</strong> was first developed as an idea by the <a href="http://www.css.org">open CSS project</a> in 2016.</p>

                </div>
            </div>


            <h2 class="page-header">Who is behind this?</h2>

            <div class="row">
                <div class="span8 offset4">
                    <p>The formal answer is the <a href="http://www.css.org/">Open CSS project</a> who created and are running the project. </p>
                </div>
            </div>


            <h2 class="page-header">Is there a party political motivation behind this project?</h2>
            <div class="row">
                <div class="span8 offset4">
                </div>
            </div>

            <h2 class="page-header">Why are you doing this?</h2>

            <div class="row">
                <div class="span8 offset4">
                    <p>You can read more about this in our original proposal for the project:</p>

                    <blockquote>

                    </blockquote>

                </div>
            </div>


        </div>

    </div>
{% endblock %}

