{% extends 'adminbase.html.twig' %}


{% block body %}
    <div class="container">
        <div class="jumbotron">
            <h1>Admin Landing Page!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" role="button">Pending</a></p>
        </div>
    </div>

{% endblock %}
