/*body*/
@import url('//fonts.googleapis.com/css?family=Raleway|Roboto');
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway', sans-serif;
}
/*************************+*/
#left-sidebar{
    background:#e7e7e7 ;
    height: 100%;
    display: block;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    text-align: center;
    z-index: 1;
}

#right-sidebar{
    background:#e7e7e7 ;
    height: 100%;
    display: block;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.75);
    text-align: center;
}
.gender-selector{
   padding: 10px 10px;
}

#female{
    color: #FF7F09;
    padding-right: 10px;
}
#male{
    color: #184BFF;
    padding-left: 10px;
}

#country1{
    color: #A10017;

}
#country2{
    color: #009111;
}
#graphHeader{
    color: #b94a48;
}
hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

/*sidebar*/

/* make sidebar nav vertical */
@media (min-width: 768px) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/*team Page*/
#teamimg{
    text-align: center;
}

#teamRoleImg{
    width: 200px;
    height: 200px;
    text-align: center;
}

#teamRoleHeader{
    font-size: 20px;
    font-weight: 600;
}

#teamRoleContent{
    font-size: 15px;
    font-weight: 400;
}
#teamRole{
    text-align: center;
}
#name{
    color: #0f86ce;
}
#teamRoleRow{
    padding-bottom: 10px;
}

/*wikiPage*/
#wikiContent{
    -webkit-box-shadow: 1px 1px 10px 1px rgba(231,231,231,1);
    -moz-box-shadow: 1px 1px 10px 1px rgba(231,231,231,1);
    box-shadow: 1px 1px 10px 1px rgba(231,231,231,1);
    padding: 20px 40px;
}
#wikiPageHeader{
    font-size: 30px;
    text-align: center;
    color: #2471A3;
    font-weight: 600;

}
#wikiPageConent{
    padding-top: 20px;
    text-align: justify;

}
.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

/*d3*/
.link {
    /*  stroke: #000;*/
    stroke: gray;
}

.node {
    /*  stroke: #fff;*/
    stroke: white;
    fill: black;
}

#graphHolder{
    position: relative;
    right: 30%;
}

#slider {
    width: 100%;
    /*width: window.innerWidth;*/
    margin: 20px;
}
.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}
/* didn't use*/
.d3-slider-vertical {
    width: 20px;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    /*position: relative;*/
    width: 0.3em;
    height: 1.0em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
    /*stroke-linecap:;*/
}

.d3-slider-handle:hover {

    border: 1px solid #999999;
    z-index: 3
}

.d3-slide-handle-text {
    position: relative;
    fill:black;
    /*text-align:top;*/
    font-size:10px;
    top: -2em;
    left: -2em;


}

.d3-slider-horizontal .d3-slider-handle {
    /* set the position of handle*/
    top: -0.2em;
    margin-left: -0.2em;
}

.d3-slider-axis {
    position: absolute;
    /*position: relative;*/
    z-index: 1;
}

.d3-slider-axis-bottom {
    /* the value here the same as the height of .d3-slider-horizontal */
    top: 0.8em;
}

.d3-slider-axis-right {
    /* didn't use*/
    left: 0.8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    /* didn't use */
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}
#d3Box{
    padding: 30px;
    position: relative;

}

#globalstats{
    padding: 20px 40px;
}

div.loadingoverlay{
    margin-left: 12.5%;

}